* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.header {
	background-color: chocolate;
	height: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header h1 {
	color: gainsboro;
}
.form select {
	height: 2.5rem;
	width: 55px;
	padding: 10px;
	margin: 10px;
	border-radius: 12px;
	text-align: center;
	background-color: rgb(133, 119, 113);
	color: white;
	border: none;
	/* margin-right: 19px; */
}
.form input[type="text"] {
	border-radius: 8px;
	height: 2.5rem;
	padding: 10px;
	margin: 10px;
	width: 350px;
	border: none;
	margin-left: 15px;
	background-color: rgb(133, 119, 113);
	color: white;
	font-size: large;
	cursor: pointer;
}
.select-items {
	font-size: 22px;
	font-weight: bold;
	color: rgb(100, 53, 35);
}
.form {
	height: 3.5rem;
	background-color: burlywood;
	display: flex;
	/* justify-content: space-between; */
	gap: 25px;
	align-items: center;
}
.form h3 {
	margin-left: 10px;
	font-size: 23px;
	font-weight: bold;
	color: rgb(100, 53, 35);
}
.items {
	background-color: rgb(51, 30, 3);
	height: 450px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.list {
	color: white;
	margin: 15px;
	margin-left: 20px;
	font-size: 23px;
	list-style-type: none;
}
.delete-btn {
	margin-right: 4px;
}
.quantity {
	margin-left: 1px;
}
.footer {
	background-color: chocolate;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gainsboro;
}
.form-btn {
	width: 115px;
	height: 2.5rem;
	padding: 10px;
	font-size: 23px;
	border-radius: 12px;
	border: none;
	background-color: rgb(96, 245, 245);
	color: rgb(146, 92, 10);
}
